/* Trying out BEM CSS principles: https://css-tricks.com/bem-101/ */
* {
	box-sizing: border-box;
}

body {
	background-color: white;
	/* In order to use inline-block */
	margin: 0px auto;
	/* Mozilla + Chrome centering*/
	text-align: -moz-center;
	text-align: -webkit-center;
}

/* header */
.hdr--height {
	height: 150px;
}

/* header breakpoints */
@media (max-width: 767px) {
	.hdr--height {
		height: 100px;
	}
}

@media (max-width: 320px) {
	.hdr--height {
		height: 50px;
	}
}

.hdr--red {
	background-color: red;
}

/* container */
.ctn--width {
	max-width: 1200px;
	/* way around space between divs because of inline-block */
	font-size: 0;
}

/* columns */
.col--dimension {
	display: inline-block;
	width: 33.33%;
	height: 300px;
}

.col--green {
	background-color: green;
}

.col--white {
	background-color: white;
}

.col--blue {
	background-color: blue;
}

.col--border ~ .col--border {
	border-left: 5px solid black;
}

/* footer */
.ftr--height {
	height: 100px;
}

/* footer breakpoints */
@media (max-width: 768px) {
	.ftr--height {
		display: none;
	}
}

.ftr--grey {
	background-color: gray;
}